@import "../../main";

header nav.navbar {
  background-color: $color-purple;
  padding: 0;

  .navbar-brand {
    font-size: $font-xl;
    border-left: 2px solid $color-dark;
  }

  .collapse {
    font-size: $font-md;

    ul.menu-register li.nav-item .menu-items::before {
      @include addIcon('\f011');
    }

    ul.dropdown-menu li .sign-up-link::before {
      @include addIcon('\f4fc');
    }

    ul.dropdown-menu li .login-link::before {
      @include addIcon('\f2f6');
    }
  }

  .menu-items {
    &:hover {
      color: $color-white;
    }
  }

  .dropdown-menu-items {
    &:hover {
      background-color: $color-light-gray;
    }
  }

  form.search-form {
    input.search-input {
      border-radius: $border-radius;

      &:focus {
        box-shadow: none;
        border-color: $color-white;
      }
    }

    button.search-btn {
      border: 2px solid $color-white;
      border-radius: $border-radius;
      padding: .3rem .8rem;

      &:hover {
        color: $color-purple;
      }

      i.fa-search {
        font-size: 1.2rem;
        margin-top: 0.4rem;
      }
    }
  }

  @media screen and (max-width: 992px) {
    .navbar-brand {
      border-left: none;
    }

    form.search-form {
      margin-bottom: .3em;
    }
  }
}