@import "../../main";
@import "../Login/Login.scss";

form.sign-up {
  min-height: 450px;

  .form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .submit-err {
      width: 90%;
      text-align: center;
      color: $color-error;
    }

    .form-item {
      margin: .5rem auto;
      width: 90%;

      .label-container {
        position: relative;

        label {
          position: absolute;
          right: 10px;
          top: 16px;
          padding: .2em;
          color: rgba($color-dark, .75);
          background-color: $color-white;
          border-radius: $border-radius;
          transition: top .3s ease;
        }
      }

      .icon-container {
        img.email-icon {
          @include iconPosition(1rem .4rem);
          width: 42px;
          height: 60px;
        }
      }

      input#email {
        padding: 1rem 0.3em 1rem 3rem;
      }

      .error-message {
        color: $color-error;
      }
    }

    .post-err {
      width: 90%;
      text-align: center;
      color: $color-white;
      padding: .4rem .2rem .2rem .2rem;
      background-color: $color-error;
      border-radius: $border-radius;

      button.close {
        border: none;
        background-color: transparent;
        float: right;

        i.fa-close {
          color: $color-white;
          font-size: $font-md;
        }
      }

      &:hover {
        background-color: rgba($color-error, .7);
      }
    }
  }

  // Responsive styles
  @media screen and (max-width: 768px) {
    min-height: 350px;

    .form-container {
      .submit-err {
        font-size: $font-xs - .1;
      }

      .form-item {
        .label-container {
          label {
            font-size: $font-xs;
            top: 8px;
          }
        }

        .icon-container {
          img.email-icon {
            padding: 0.2rem;
            width: 28px;
            height: 36px;
          }
        }

        input#email {
          padding: .5rem .2em .5rem 2.1rem;
        }

        .error-message {
          font-size: $font-xs;
        }
      }

      .post-err {
        font-size: $font-xs;
        padding: .3rem .1rem .1rem .1rem;

        button.close {
          i.fa-close {
            font-size: $font-sm;
          }
        }
      }
    }
  }
}