// Imports
@import url("https://v1.fontapi.ir/css/Vazir");
@import url("https://v1.fontapi.ir/css/Sahel");
@import url("https://fonts.googleapis.com/css?family=Raleway");

// Colors
$color-white: #fff;
$color-light-gray: #ddd;
$color-gray: #888;
$color-black: #000;
$color-dark: #333;
$color-purple: #8b00f5;
$color-blue: #3e75ff;
$color-green: #1dcc87;
$color-error: #ff0a4b;
$color-alert: #ffb639;

// Fonts
$font-vazir: Vazir, Tahoma, sans-serif;
$font-sahel: Sahel, Tahoma, sans-serif;
$font-raleway: Raleway, Arial, sans-serif;
$font-xxl: 2rem;
$font-xl: 1.8rem;
$font-lg: 1.5rem;
$font-md: 1.2rem;
$font-sm: 1rem;
$font-xs: .8rem;

// Borders radius
$border-radius: .2em;

@font-face {
  font-family: Vazir;
  src: url("../src/assets/fonts/Vazir.eot") format("eot") url("../src/assets/fonts/Vazir.ttf") format("ttf") url("../src/assets/fonts/Vazir.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: Sahel;
  src: url("../src/assets/fonts/Sahel.eot") format("eot") url("../src/assets/fonts/Sahel.ttf") format("ttf") url("../src/assets/fonts/Sahel.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: Raleway;
  src: url("../src/assets/fonts/Raleway-Regular.ttf") format("ttf");
  font-weight: normal;
}

// Define a mixin to add flexbox styles
@mixin flexboxStyle($justify-content-value, $align-items-value, $flex-direction: row) {
  display: flex;
  flex-wrap: wrap;
  justify-content: $justify-content-value;
  align-items: $align-items-value;
  flex-direction: $flex-direction;
}

// Define a mixin to handle various icons
@mixin addIcon($icon) {
  content: $icon;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  font-style: normal;
  margin-left: .3em;
}

// Define a mixin to handle error and loading messages on API calls
@mixin message($font-family, $color) {
  text-align: center;
  color: $color;
  font-size: $font-lg;
  font-family: $font-family;
}

// Define a mixin to handle responsive design for notFound page styles
@mixin notFoundPageRes($font-size, $container-size, $img-size) {
  font-size: $font-size;

  .error-container {
    width: $container-size;
    height: $container-size;
  }

  img.not-found-icon {
    width: $img-size;
    height: $img-size;
  }
}

// Define a mixin to handle icons positions on the form element content in sign-up page
@mixin iconPosition($padding) {
  position: absolute;
  left: 1px;
  bottom: 10px;
  border-right: 2px solid #ddd;
  padding: $padding;
}